<%- include('../includes/head.ejs')%>
   <%- include('../includes/nav.ejs')%>
    <main>
        <form action="/admin/<% if(editMode) {%>edited<%} else {%>added<%}%>" method="POST">
            <label for="title">title</label>
            <input type="text" name="title" value="<% if(editMode) {%> <%= product.title %> <%}%>" >
            <label for="url">image url</label>
            <input type="text" name="url" value="<% if(editMode) {%> <%= product.url %> <%}%>">
            <label for="price">price</label>
            <input type="number" name="price" value="<% if(editMode) {%><%= product.price %><%}%>">
            <label for="description" >description</label>
            <textarea name="description"  cols="10" rows="10" >
                <% if(editMode) {%><%= product.description %><%}%>
            </textarea>
            <% if(editMode) {%> <input type="hidden" name="id" value="<%=product.id%>"> <%}%>
            <button type="submit"><% if(editMode) {%> Update product <%} else {%> Add product <% } %></button>
           
        </form>
    </main>
<%- include('../includes/tail.ejs')%>