<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>
    <main>
        <h1>
            list of products....

            <% if(items.length > 0) {%>
                    <div class="card">
                        <% for(i of items) { %>
                           <li>
                               <%= i.title %>
                               <img src="<%=i.url%>">
                               <p><%= i.description%></p>
                               <b><%= i.price%></b>
                               <a href="/admin/edit/<%=i.id %>">edit</a>
                               <form action="/admin/delete" method="post">
                                <button type="submit">delete</button>
                                <input type="hidden" name="id" value="<%= i.id%>">
                               </form>
                              
                            </li>   
                         <% }%>  
            </div>   
            <% } else {%>
                <h3>no products</h3>
                <% }%>   

        </h1>
    </main>
    <%- include('../includes/tail.ejs') %>