<header>
    <nav>
        <ul>
            <li class="<%= path==='/product/shop' ? 'active' : '' %>"><a href="/product/shop">shop</a></li>
            <li class="<%= path==='/product/product' ? 'active' : '' %>"><a href="/product/product">products</a></li>
            <li class="<%= path==='/product/cart' ? 'active' : '' %>"><a href="/product/cart">cart</a></li>
            <li class="<%= path==='/product/order' ? 'active' : '' %>"><a href="/product/order">order</a></li>
            <li class="<%= path==='/admin/add' ? 'active' : '' %>"><a href="/admin/add">add product</a></li>
            <li class="<%= path==='/admin/products' ? 'active' : '' %>"><a href="/admin/products">admin product</a></li>
        </ul>
    </nav>
</header>